.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: var(--wi-content-width);
  margin: 0 auto;
  padding: 0 28px;
}

@media (max-width: 640px) {
  .content {
    padding-right: 18px;
    padding-left: 18px;
  }
}
