.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: start;
  gap: 16px;
  width: 100%;
  max-width: var(--wi-content-width);
  margin: 0 auto;
  padding: 0 28px;
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
    padding-right: 18px;
    padding-left: 18px;
  }
}
